body{
    background: gray;
}


#titleName,#titleDescription{
    background-color: blue;
    text-align: center;
    margin-bottom: 1em;
    border: 1px solid black;
}

.body{
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
}



.content{
    border: 1px solid black;
    /* padding-right: 20%; */
    text-align: center;
}